.crudUser{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}

.crudUser .display{
    height : 90%;
    width : 100%;
    display : flex;
    
}

.crudUser .control{
    background : blue;
    height : 10%;
}
