/* App is the container , already flex; row */
.notif_pop{
    position : absolute;
    top : -1000px;
    left : 186px;
    transition : 0.5s;
    width : 75%;
    height : fit-content;
    opacity : 0.9;
    z-index : 3;
}
.notif_pop_notif{
    border : 1px solid black;
    font-size : 2em;
    background : lightgrey;
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    align-items : center;
    margin : 5px 0;
    overflow-x : auto;
}
.notif_pop_notif * {
    width : 100%;
    text-align : center;
}
.notif_pop_notif #notif_time{
    font-size : 0.5em;
    width : 25%;
}

.call_list{
    position : absolute;
    top : -1000px;
    left : 186px;
    transition : 0.5s;
    width : 75%;
    height : 200px;
    border-radius : 10px;
    padding : 10px;
    opacity : 0.9;
    z-index : 2;
    background : lightgrey;
    display : flex;
    flex-direction : column;
}

.call_list header{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}

.main_layout{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction : column;
    overflow: hidden;
}
.main-tabDisplay{
    width : 85%;
    height : 100%;
    /*border : 1px solid green;*/
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    padding : 10px;
}

.header{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    height : 6%;
}
.main_layout .side_bt{
    display : none;
}

.main_display{
    width : 100%;
    height : 94%;
    max-height : 94%;
    display : flex;
    flex-direction : row;

}
@media (max-width: 930px){
    .main_display {
        width : 100%;
        height : 94%;
        max-height : 94%;
        display : flex;
        flex-direction : column;
        z-index : 0;
    }
    #main_nav{
        width : auto;
        height : auto;
        padding : 0;
        display : none;
        border : 1px solid white;
        border-radius : 0 10px 10px 0;
        position : absolute;
        background : lightgrey;
        top : 150px;
        z-index: 7;
    }
    .main-tabDisplay{
        width : 100%;
    }
    .main_layout .side_bt{
        display : block;
        position : absolute;
        bottom : 20px;
        left : 20px;
        z-index : 4;
    }
    .main_layout .side_bt button{
        width : 40px;
        height : 40px;
        z-index : 4;
    }
    .main_display .side_nav .active_navLink{
        border-right : 4px solid red;
    }
}
nav{
    width : 15%;
    height : 100%;
    padding : 0;
    display : flex;
    flex-direction : column;
}
nav a{
    text-decoration : none;
    border : 1px solid grey;
    font-size : 1.2em;
    padding : 7px;
    padding-left : 10px;
    color : black;
}
.main_display .side_nav{
    padding-left : 10px;
    padding-top : 20px;
    background : #80808017;
}
.main_display .side_nav a{
    border : 0;
    border-top-left-radius : 7px;
    border-bottom-left-radius : 7px;
}
.main_display .side_nav a:hover{
    background : lightgrey;
    width : 95%;
    font-size : 1.3em;
    border-radius : 7px;
}

.main_display .side_nav .active_navLink:hover{
    background : white;
    width : 100%;
    font-size : 1.2em;
    border-radius : 7px 0 0 7px;
}
.display{
    width : 100%;
    height : 100%;
    /*border : 1px solid green;*/
    /*border-top : 1px solid grey;*/
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding : 10px;
}

.main_display .side_nav .active_navLink{
    color: red;
    border-right: none;
    /* border: none; */
    border-bottom : 2px solid red;
    border-top : 2px solid red;
    border-left : 2px solid red;
    border-right : 4px solid white;
    background : white;
    font-weight: 300;
}
