.notify_layout{
    height : 100%;
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content : flex-start;
}



.notify_display{
    /*border : 1px solid grey;*/
    width: 100%;
    height: 85%;
    display : flex;
    flex-direction : row;
}
.tab-display{
    width : 100%;
    height : 100%;
}

.sub-display{
    border-left : 1px solid lightgrey;
    transition : 0.5s;
    height : 100%;
    display : flex;
}

.notify_nav{
    height : fit-content;
    width : 100%;
    display : flex;
    flex-direction : row;
}

.notify_display nav a {
    width : 50%;
    text-decoration : none;
}
.active_navLink_notify{
    border-bottom : 0;
    background : white;
    color : red;
    font-weight : 300;
}

.notify_display .display{
    width : 100%;
    height : 94%;
    border : none;
}

.notify_notif_pop{
    position : absolute;
    top: -1000px;
    transition : 0.5s;
    width : 75%;
    display : flex;
    flex-direction : column;
}
.notify_notif_pop .notify_notif {
    border :1px solid black;
    margin : 5px 0;
    background : lightgrey;
    opacity : 0.9;
    display: flex;
    flex-direction : column;
    padding : 5px;
    justify-content : space-around;
    font-size : 1.5em;
}

