.toDo{
    /*border : 1px solid yellow;*/
    border : 1px solid darkgrey;
    background : #94676738;
    display : flex;
    flex-direction : column;
    justify-content : flex-start;
    align-items : flex-start;
    /*max-height : 300px;*/
    min-height : 150px;
    height  : 150px;
    margin : 10px;
    transition : 0.5s;
    overflow-y : hidden;
}

.toDo-sum{
    /*border : 1px solid black;*/
    /*background : blue;*/
    display: flex ;
    width : 100%;
    height : 84%;
    max-height : 126px;/*height% of min-height px of to Do*/
    min-height : 126px;/*height% of min-height px of to Do*/
    flex-direction : column;
    justify-content : flex-start;
    align-items : center;
    border : 1px solid blue;
}
.toDo-sum *{
    width : 100%;
    text-align : center;
}

.toDo-sum .time{
    font-size : 1.2em;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    height : 15%;
}

.toDo-sum .time .hour{
}

.toDo-sum .info{
    display : flex;
    flex-direction : row;
    height : 80%;
}

.toDo-sum .info .dots{
    display : flex;
    flex-direction : row;
    font-size : 0.5em;
    border : 1px solid green;
    height : 100%;
}

.toDo-sum .info .dots .done, .toDo-sum .info .dots .probleme_resolu{
    width : 100%;
    height : 100%;
    display : flex;
    justify-content : space-between;
    background : yellow;
}

.toDo-sum .tache_description{
    display : flex;
    flex-direction : column;
    justify-content : center;
    border : 1px solid red;
}

.toDo-sum .tache_description *{
    border : 1px solid red;
}

.toDo-sum #tache_description{
}

.toDo-sum #tech_main_username{
    font-weight : bold;
}

.toDo-sum button {
}

.toDo-details{
    /*border : 1px solid black;*/
    /*background : green;*/
    transition : 0.5s;
    display : flex;
    flex-direction : column;
    justify-content : center;
    width: 100%;
    padding: 0 10px;
    flex-direction : column;
    align-items : flex-start;
}

.childList{
    width : 100%;
}

.toDo .my-button{
    border : none;
    background : none;
    width : fit-content;
    height : 100%;
    border-radius : 2px;
}
.toDo .my-button:hover{
    background :lightgrey;
}
.vertical_dot{
    width: 25px;
}

.details-bt{
    background : green;
    width : 100%;
    height : 15%;
    display : none;
}
